#three {
    header.major-literacy.alt h1 {
        margin: 2em 0 _size(element-margin_sm) 0;

    }

    header.major-literacy.alt h3 {
        margin: -1em 0 _size(element-margin) 0;
        color: $color-black;

    }
}

/* Posts */

.posts {

    article {
        // @include vendor('display', 'flex');
        @include vendor('align-items', 'center');
        margin-bottom: _size(element-margin_sm);


        .content-literacy p {
            margin: 0 12em size(element-margin_sm) 0;
        }

        .fas {
            padding: 0 5px;
        }

        .content {
            --ms-flex: 1;
            color: $color-black;

        }

        .image {
            @include vendor('order', '99');
            margin: 0 3em _size(element-margin) _size(element-margin);
        }

        &.alt {
            .image {
                @include vendor('order', '-1');
                margin: 0 _size(element-margin) _size(element-margin) 0;
            }
        }
    }

    @include breakpoint('<=large') {
        .content {
            @include vendor('flex-shrink', '0');
            width: 33%;
        }

        .image {
            img {
                max-width: 100%;
            }
        }
    }

    @include breakpoint('<=medium') {
        article {
            @include vendor('flex-wrap', 'wrap');

            .content {
                width: 100%;
            }

            .content-literacy p {
                margin-right: 6em;
            }

            .image {
                @include vendor('order', '-1');
                margin: 0;
                padding: 0em;
                width: 100%;
            }
        }
    }

    @include breakpoint('<=xsmall') {
        article {
            @include vendor('flex-wrap', 'wrap');

            .content-literacy p {
                margin-bottom: _size(element-margin);
                margin-right: 4em;
            }

            .fas {
                margin: 0 8px;
            }
        }
    }
}