:root {
    --modal-duration: 1s;
    --modal-color: #fff;
    --modal-font-family: 'Poppins', sans-serif;
}

.modal-header img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
    max-height: 100%;
}

a:link {
    text-decoration: none;
}

.modal-footer h4 {
    cursor: pointer;
    text-decoration: none;
    font-size: .75em;
    color: green;
}

.modal-footer h4:hover,
.modal-footer h4:focus {
    color: rgb(107, 66, 71);
}

#popup {
    display: block;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

/* **can change width to 400px so it won't change size. Check on mobile. */
#popup .modal-content {
    margin: 3% auto;
    max-width: 60%;
    max-height: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    -webkit-animation-name: modalopen;
    animation-name: modalopen;
    -webkit-animation-duration: var(--modal-duration);
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
    padding-bottom: .5em;
    color: green;
    text-align: center;
    font-size: clamp(.25rem, 1.25rem, calc(1.50rem + 5px));
    font-family: var(--modal-font-family);
}

@media (min-width: 40em) {

    .modal-header h2,
    .modal-footer h3 {
        font-size: 2.25em;
    }

    .modal-footer h4 {
        text-decoration: none;
        font-size: 1em;
    }
}

.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.modal-footer {
    background: var(--modal-color);
    padding: 1.25em;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#popup a.close-popup {
    position: absolute;
    display: grid;
    top: 2.25%;
    left: 73%;
    justify-content: right;
    align-items: right;
    padding: 0;
    color: green;
    font-size: clamp(.50rem, 1.25rem, calc(1.50rem + 5px));
    // font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 40em) {
    #popup a.close-popup {
        top: 6.5%;
        left: 75%;
        font-size: 40px;
    }
}

#popup:target {
    display: block;
}

#popup a.close-popup:hover,
#popup.close-popup:focus {
    color: rgb(107, 66, 71);
    text-decoration: none;
    cursor: pointer;
    transform: rotate(720deg);
    transition: transform 3s ease-out;

}