h2 .privacy-intro {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.major-privacy {
    // color: $color-blue;
    margin: 1em 4em 0 2em;
}

.inner .major-privacy h4 {
    // font-size: 1rem;
    color: red;
}

.return-top {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.return-top::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    cursor: default;
}

#gp {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#gp {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#to {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#to::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}



#hs {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#hs::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#wh {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#wh::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#te {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#te::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#oo {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#oo::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#ai {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#ai::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#pc {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#pc::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#at {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#at::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

#qc {
    position: relative;
    padding: 15px;
    border-top: 82px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#qc::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    //  visibility: hidden;
}

.privacy-list1 {
    // color: $color-black;
    margin: 0em 2em 1em 2em;
    list-style: none;
}

.fas {
    color: $color-red-apple;
}

.privacy-list {
    margin: 0em;
    list-style: none;
}

.privacy-list1 a {
    color: blue;
    margin: .5em;
}

.privacy-list1 a:hover {
    text-decoration: underline;
    color: purple;
}

.privacy-list1 a:active {
    text-decoration: underline;
    color: green;
}

p.privacy-content {
    color: $color-black;
    text-decoration: none;
    margin: 0em 4em 0em 2em;
    background: #fff;

}

li.privacy-content {
    // font-size: 1em;
    color: $color-black;
    text-decoration: none;
    margin: 1em 2em 0em 0em;
}

.privacy-contact ul {
    margin: 1rem 0 _size(element-margin_sm) 0rem;
    text-decoration: none;
    list-style: none;
    color: $color-black;

}

//  **Mobile

@include breakpoint('<=small') {
    .major-privacy p {
        width: 100%;
        min-width: 95%;
    }

    .privacy-intro h2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        text-align: left;
        width: 100%;
        min-width: 95%;
        // margin-left: -3em;
    }

    .privacy-content p {
        width: 95%;
    }
}

























@include breakpoint('<=xsmall');